.App {
  text-align: center;
  background-position: center;
  height: 100vh;
}
.App button{
  padding: 5px 20px;
    height:30px;
    border-radius: 10px;
    background-color: rgb(123, 123, 244);
}
.bg-section {
  background-image: url("./assets/class.avif");
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  
  padding: 40px 20px;         
  height: 100%;           

  color: rgb(11, 1, 1);                
}

.App button:hover{
  background-color: blue;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.vote{
  margin-top: 10px;
}
.vote h2 {
  color: white;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.8);
  font-weight: bold;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
