.head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: #8a2b06;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
}

.head h1 {
  margin: 0;
  color: white;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 1rem;
  transform: translateX(-50px); /* move left */
}

.rightControls h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.rightControls button {
  padding: 0.4rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #4b82f7;
  color: white;
  cursor: pointer;
  font-weight: bold;
}