.head{
    position: fixed;
    top: 0;
     left: 0;
     width: 100%;
     height: 3rem;
     background-color: #8a2b06;
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 10%;
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
     z-index: 10;
   }
   .head h1{
       margin-left: 150px;
       margin-top: auto;
       color: aliceblue;
   }
   